
/*
body {
  border: 2px solid #1b1b1b;*/
 .main {
   top: auto;
   right: auto;
   height: auto;
   font-family: SS, sans-serif;
   color: #000;
   font-size: 1.3em;
   line-height: 1.22em;
   font-weight: 400;

 }
}
.lang {
  position: fixed;
  display: inline;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: auto;
  max-width: 61px;
  min-width: 61px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 1.8em;
  line-height: 1.15em;
  font-weight: 400;
  text-align: right;
}

.h1 {
  position: fixed;
  left: 15px;
  top: 20px;
  bottom: 10px;
  height: auto;
  max-width: 482px;
  min-width: 400px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 2.5em;
  line-height: 1.15em;
  font-weight: 400;
}

.heading {
  position: fixed;
  left: 15px;
  top: auto;
  right: auto;
  bottom: 10px;
  height: auto;
  max-width: 470px;
  min-width: 470px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: SS, sans-serif;
  color: #000;
  font-size: 1.5em;
  line-height: 1.15em;
  font-weight: 400;
}

.links {
  color: #050505;
  text-decoration: none;
}
