/* градиентная анимация текста

@keyframes gradient-animation
{from {background-position: 100% 0%;}
to {background-position: 0% 0%;}
}

.animation{
 background: repeating-linear-gradient(90deg,
 #111111  0%, #6f6f6f 12.5%, #e8e8e8 25%,  #111111 50%);
 background-size: 200%;
 background-position: 100% 0%;
 animation-name: gradient-animation;
 animation-duration: 33s;
 animation-iteration-count: infinite;
 animation-fill-mode: forwards;
 animation-timing-function: linear;
 margin-left: 360px;
 margin-right: px;
 height: 607px;
 }*/

 /*градиент как элемент

 .{
animation: flow 30s ease-in-out infinite;
background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
background-size: 300%;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

@keyframes flow {

O% {background-position: 0 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0 50%;}
} */

.container {
  max-width: 1200px;
}


* a {
  color: #050505;
  text-decoration: none;
}

.back-nav{
  display:none;
}

/*заголовок*/
h1 {
  position: fixed;
  left: 15px;
  top: 20px;
  bottom: 10px;
  height: auto;
  max-width: 482px;
  min-width: 400px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 2.5em;
  line-height: 1.15em;
  font-weight: 400;
}

h1::selection {background: #ffb7b7;}

br::selection {background: #fff2a8;}



/*общий стиль пунктов и ссылок*/
.heading {
  position: fixed;
  left: 15px;
  bottom: 10px;
  max-width: 470px;
  min-width: 470px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  color: #000;
  font-size: 1.5em;
  line-height: 1.15em;
  font-weight: 400;
}


/*общий стиль ссылок с желтым выделением*/
.links {
  color: #050505;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.links::selection {
  background: #fff2a8;
}

/*три пункта с подсветкой серым*/
.main {
  top: auto;
  right: auto;
  height: auto;
  font-family: sans-serif;
  color: #000;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: normal;
}

.main,::selection {
  background: #e8e8e8;
}

.main:hover {
  background: #ffffff;
}

/*CV*/

/*текст cv*/
.text {
  position: absolute;
  width: 670px;
  top: 77px;
  left: 23%;

  color: #02077d;
  font-family:Roboto-Mono, monospace;
  font-size: 1.46em;
  line-height: 1.7em;
  margin-bottom: 40px;
  border-radius: 20px;
  text-align: justify;
  padding: 55px 45px;
  border: 3px solid #404040 ;

}
p::selection {
  background: #fff2a8;
}

/*заголовок-ссылка на главную*/
.h1-second {
  position: fixed;
  left: 10px;
  top: 10px;
  bottom: 10px;
  height: auto;
  max-width: 482px;
  min-width: 400px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  color: #000;
  font-size: 1.8em;
  line-height: 1.15em;
  font-weight: 400;
}



  /*фото дизайна обложки (не нужен пока)
  .magazine1{
  position: relative;
  width: 35vw;
  height: auto;
  left:55%;
  top: 60px;
  margin-bottom: 54px;
  }*/

/*стиль контейнера фотогалереи*/
.photos {
display: flex;
flex-direction: column;
}

/*стиль фотогалереи*/
.photos img {
position: relative;
width: 49vw;
left:540px;
top: 90px;
margin-bottom: 54px;
padding-right: 60px;
}

.lead-bw,
.lead-clr,
.lead-bw-photo,
.lead-clr-photo {
position: absolute;
transition: all 0.5s ease;
top: 60px;
}

/*настройки анимации*/
.lead-bw:hover,
.lead-bw-photo:hover,
.lead-clr-photo:hover,
.lead-clr:hover{
  transform: scale(1.1);
    /*box-shadow: 0 20px 40px rgba(0,0,0,0.3);*/
}

/*стиль фото-ссылок в "дизайн"*/
.lead-bw {
  width: 40vw;
  left: 48%;
  top: 80px;
}

.lead-clr {
  width: 22vw;
  left: 38%;
  top: 150px;
}

/*текст-описание с выделением*/
.story {
  position: absolute;
  color: #050505;
  font-family: monospace;
  font-size: 1.8em;
  width: 340px;
  top: 130px;
  left: 5%;
  }
.story::selection {background: #fff2a8;}

/*стиль фото-ссылок в "фото"*/
.lead-bw-photo {
width:40vw;
left:48%;
}

.lead-clr-photo {
width:27vw;
left:38%;
top: 250px;
}

/*текст-описание*/
.story-photo {
  position: absolute;
  color: #050505;
  font-family: monospace;
  font-size: 1.8em;
  width: 30vw;
  top: 130px;
  left: 5%;
  }

/*второй заголовок с выделением*/
h2 {
  color: #050505;
  position: fixed;
  left: 10px;
  top: 60px;
  right: auto;
  bottom: 10px;
  height: auto;
  max-width: 470px;
  min-width: 470px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: SS, sans-serif;
  color: #000;
  font-size: 1.5em;
  line-height: 1.15em;
  font-weight: 400;
}

h2::selection {background: #ffb7b7;}


/*убирает предлог "с" на новую строку в описании "Встречи"*/
.mag {
  width: 300px;
}


@media (max-width:1200px) {
  .container {max-width: 970px;}
  .text {
    color: #02077d;
    font-size: 1.46em;
  }
}


@media (max-width:1050px) {
  .container {max-width: 750px;}
  .story {font-size: 2.8em;}
  .text {
  border: none;
  width: 56vw;
  color: #02077d;
  font-size: 1.5em;
  text-align: left;
}

}

@media (max-width:950px) {
  .container {max-width: none;}
  .text {
    top: 47px;
    color: #02077d;
    font-size: 1.5em;
    text-align: left;
  }
}
@media (max-width:800px) {
  .container {max-width: none;}
  .text {
    top: 0px;
    color: #02077d;
    font-size: 1.4em;
    text-align: left;
    left: 7%;
    min-width: 65vw;
    padding: 36px 40px;
}
  

  .h1-second {
    display: none;
  }
  .back-nav{
    display:inline-block;
    position: fixed;
    width: 26px;
    top: 20px;
    left: 20px;
    }
}

@media (max-width:610px) {
    .text {
    width: 76vw;
    top: 0;
    color: #02077d;
    font-size: 1.1em;
    text-align: left;
    left: 5%;
    padding: 45px 40px;
  }
  .back-nav{
    display:inline-block;
    position: fixed;
    width: 20px;
    top: 20px;
    left: 20px;
    }
}
