/* Variables */
:root {
  --primary-color: #050505;
  --secondary-color: #02077d;
  --accent-color: #e9c834;
  --font-family-sans: sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;
}

/* General Styles */
* a {
  color: var(--primary-color);
  text-decoration: none;
}

::selection {
  background: #fff2a8;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
h1,
.h1-second {
  font-family: var(--font-family-sans);
  color: var(--primary-color);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 2.5em;
}

.h1-second {
  font-size: 1.8em;
}

h2 {
  font-family: var(--font-family-sans);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.15;
}

h2::selection {
  background: #ffb7b7;
}

.text {
  font-family: var(--font-family-mono);
  color: var(--secondary-color);
  font-size: 1.2em;
  line-height: 1.7;
  text-align: justify;
  padding: 55px 45px;
  border: 1.4px solid #404040;
  border-radius: 20px;
}

.text a {
  color: var(--accent-color);
}

/* Navigation */
.back-nav {
  display: none;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Content */
main {
  padding-top: 80px; /* Adjust this value based on the header height */
}

.story {
  font-family: var(--font-family-mono);
  font-size: 1.4em;
  color: var(--primary-color);
  width: 340px;
}

.story a {
  color: var(--accent-color);
}

.story-photo {
  font-family: var(--font-family-mono);
  font-size: 1.3em;
  color: var(--primary-color);
  width: 21.7vw;
}

.story-photo a {
  color: var(--secondary-color);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 750px;
  }

  .text {
    border: none;
    width: 56vw;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: none;
  }

  .text {
    top: 47px;
    font-size: 1.1em;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: none;
  }

  .text {
    top: 0;
    font-size: 1em;
    text-align: left;
    left: 7%;
    min-width: 65vw;
    padding: 36px 40px;
  }

  .h1-second {
    display: none;
  }

  .back-nav {
    display: inline-block;
    position: fixed;
    width: 26px;
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 610px) {
  .text {
    width: 76vw;
    top: 0;
    font-size: 1.1em;
    text-align: left;
    left: 5%;
    padding: 45px 40px;
  }

  .back-nav {
    width: 24px;
  }
}